* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 18px;
}

@media (max-width: 790px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
  color: black;
}


a, a:visited, a:hover {
  color:darkslategrey;
}

a:hover {
  text-decoration: none; 
}

ul {
  list-style-position: inside;
}

/* Index page */
body#index {
  display: flex;
  padding: 1rem;
}

body#index main {
  margin: auto;
}

body#index main h1 {
  letter-spacing: -0.1rem;
  text-align: center;
  font-weight: normal;
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

body#index main h1 span {
  font-size: 3rem;
}

body#index main p {
  margin-bottom: 0.5rem;
}

body#index main .notice {
  border-top: 1px solid darkslategrey;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}

body#index main > ul > li {
  margin-bottom: 0.5rem;
}


/* Individual item */
body#item {
  max-width: 90%;
  margin: auto;
  padding-bottom: 2rem;
}

body#item header {
  display: flex;
  padding: 1rem;
  padding-top: 1.5rem;
  max-width: 90ch;
  margin: auto;
}

body#item header div {
  margin: auto;
}

body#item header div h1 {
  font-weight: normal;
  letter-spacing: -0.1rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 790px) {
  body#item header div h1 {
    font-size: 1.85rem;
  }
}

body#item header div p {
  line-height: 1.35rem;
  letter-spacing: -0.5px;
  margin-bottom: 0.45rem;
}

body#item header div p span {
  display: inline-block;
  background-color: navajowhite;
  padding: 0.15rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
  line-height: 1rem;
}

body#item header div fieldset {
  border: 0px;
  margin-bottom: 1rem;
}

body#item header div fieldset legend {
  padding-bottom: 0.25rem;
}

body#item header div fieldset textarea {
  width: 100%;
  height: 8rem;
  padding: 0.5rem;
  font-size: 0.75rem;
}

body#item header div fieldset button {
  border: 0px;
  background-color: darkslategray;
  color: white;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

body#item iframe {
  display: block;
  width: 100%;
  height: 90vh;
  margin: auto;
  border: 2px solid darkslategrey;
  border-radius: 0.5rem;
  background-color: white;
}
